#background{
    background-color: rgb(158, 116, 52);
}
.screen {
    display: flex;
    flex-direction: column;
    background-color: rgb(90, 90, 90);
    width: 50vw;
    height: 35vw;
    justify-content: center;
    align-items: center;
  }
  
  
  .screen > #question {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  

  .bruh{
    display: flex;
    flex-direction: row;
    background-color: rgb(90, 90, 90);

  }
  .bruh > .answers {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: all .4s ease-in-out;
  }
  .answers:hover{
      background-color: cornsilk;
      cursor: pointer;
  }