

h1{
	color:rgb(0, 85, 85);	
	font-size:50px;
    font-family:'Big Shoulders Display', cursive;
	}
	
	p{
	color:azure;
	font-size:25px;
	font-family: 'Montserrat', sans-serif;
	}	
	
	body{
	 background-image: url(Wallpaper.jpg);
     background-attachment: fixed; 
	background-color: black;
    margin:0px;
	width: 100%;
	height: 100%;
	/* animation: pulse 5s infinite; */
	}
	@keyframes pulse {
		0% {
		  background-color: #001F3F;
		}
		50% {
		  background-color: #00718d;
		}
		100%{
			background-color: #001F3F;
		}
	  }

    #owl{
    height:840px;
	/* opacity: 0.01; */
    background-image: url("owl.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* transition: all .55s ease-in-out;		
	perspective: 5.5cm;
	animation: nudge 5s infinite;
	clip-path: circle(100px at 300px); */
    }
	/* #owl:hover{
		clip-path: circle(100px at 1020px 100px);
		opacity: 1;
	} */
	@keyframes nudge { /*animation for the transformation moving side to side*/
		0%, 100% {
		  transform: translate(0, 0);
		}
		50% {
		  transform: translate(200px, 0);
		}
		80% {
		  transform: translate(-200px, 0);
		}
	  }
	  
	  

	 
	  
	.arrown{
		height:100px;
		width:25%;
		background-size: 50%;
		position:relative;
		top:650px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("down.png");
		transition: all .55s ease-in-out;
	}
	.arrown:hover{
		background-size: 52%;
	}

		/* .arrown:hover{
			animation-iteration-count:infinite;
			animation: arrowAnimate 7s 20s 1;
		} */
	.skyrim{
		height:400px;
		background-image: url("skyrim.jpg");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 50px;
		transition: .5s all ease-in-out;
	}
	
	#bergerSec{
		height:400px;
		background-image: url("berger.jpg");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: .5s all ease-in-out;
	}
	#bergerSec:hover{
		background-color: darkgrey;
		opacity: .5;
	}
	.bergerTextContainer{
		text-align: center;
		z-index: 100;
		opacity: 0;
		height:400px;
		transition: .5s all ease-in-out;
	}
	.bergerTextContainer:hover{
		opacity: 1;
	}
	.bergerText{
		font-size: 100px;
		padding-top: 100px;
		color: black;
	}


	#readingSec{
		height:400px;
		background-image: url(connor.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: .5s all ease-in-out;
	}
	#readingSec:hover{
		background-color: darkgrey;
		opacity: .5;
	}
	.readingTextContainer{
		text-align: center;
		z-index: 100;
		opacity: 0;
		height:400px;
		transition: .5s all ease-in-out;
	}
	.readingTextContainer:hover{
		opacity: 1;
	}
	.readingText{
		font-size: 100px;
		padding-top: 100px;
		color: black;
	}

	#samSec{
		height:400px;
		background-image: url(week04/ramen.png);
		background-attachment: fixed;
		background-position: center;
		/* background-repeat: no-repeat; */
		background-size:contain;
		background-blend-mode: color-dodge;
		transition: .5s all ease-in-out;
	}
	#samSec:hover{
		background-color: darkgrey;
		opacity: .5;
	}
	.samTextContainer{
		text-align: center;
		z-index: 100;
		opacity: 0;
		height:400px;
		transition: .5s all ease-in-out;
	}
	.samTextContainer:hover{
		opacity: 1;
	}
	.samText{
		font-size: 100px;
		padding-top: 100px;
		color: black;
	}

	#dollSec{
		height:400px;
		background-image: url(week05/images/doll.jpg);
		background-attachment: fixed;
		background-position: center;
		/* background-repeat: no-repeat; */
		background-size:contain;
		background-blend-mode: color-dodge;
		transition: .5s all ease-in-out;
	}
	#dollSec:hover{
		background-color: darkgrey;
		opacity: .5;
	}
	.dollTextContainer{
		text-align: center;
		z-index: 100;
		opacity: 0;
		height:400px;
		transition: .5s all ease-in-out;
	}
	.dollTextContainer:hover{
		opacity: 1;
	}
	.dollText{
		font-size: 100px;
		padding-top: 100px;
		color: black;
	}
	

	#midSec{
		height:400px;
		background-image: url(midterm/bg.gif);
		background-attachment: fixed;
		background-position: center;
		/* background-repeat: no-repeat; */
		background-size:contain;
		background-blend-mode: color-dodge;
		transition: .5s all ease-in-out;
	}
	#midSec:hover{
		background-color: darkgrey;
		opacity: .5;
	}
	.midTextContainer{
		text-align: center;
		z-index: 100;
		opacity: 0;
		height:400px;
		transition: .5s all ease-in-out;
	}
	.midTextContainer:hover{
		opacity: 1;
	}
	.midText{
		font-size: 100px;
		padding-top: 100px;
		color: black;
	}
	
	#Intro{
	font-size: 30px;
	}
	
	
	#link{
	text-decoration:none;
	color:dodgerblue;
	}
	
	
		
	
	#everything {
	margin-top:40px;
	}	
	
	.BegText{
		width: 1000;
	}			
	
	#navbar {
		list-style-type:none;
		margin: 0;
		padding: 0;
        border-top: 0px;
        border-bottom: 0px;
		background-color: darkcyan;
		width:500px;
		overflow: hidden;
		position:sticky;
		top: 0;
		width:100%;
		z-index: 101;
	}
	
	.navitem {
	float: left;
	font-family: 'Montserrat', sans-serif;
	
	text-align: center;

	}
	
	.navitem a {
	display:block;
	padding: 8px 16px;
	color: white;
	text-decoration: none;
	}
	
	.navitem:last-child {
		border-bottom: none;
	}
	
	
	.navitem a.active{
	background-color: white;
	color: darkcyan;
	
	}
	
	.navitem a:hover:not(.active){
	background-color: white;
	color: darkcyan;
	
	}
	.navitem a:hover{
        transition: .5s all ease-in-out;
    }
	.navitem a:not(:hover){
        transition: .5s all ease-in-out;
    }
	#main {
	margin-top:30px;
	padding:20px;
	}