#theBackground{
    background-color: aquamarine;
}
#newBackground{
    animation: bgmorph 3s infinite;
}


#mainButton{
    padding: 6vw;
    border-radius: 10px;
    border-width: 10px;
    border-color: teal;
    background-color:maroon;
    filter: drop-shadow(20px 10px 4px #292929);
    font-size: 35px;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
    color:pink;
    transition:  background-color .1s, color .5s, filter .1s ease-in-out, margin-top .1s ease-in-out, margin-left .1s ease-in-out;
    transition-timing-function: ease-in-out;


}


#mainButton:active{
    background-color:pink;
    color:maroon;
    filter:none;
    margin-top: 160px;
    margin-left: 10px;
}

#newButton{
    padding: 6vw;
    border-radius: 10px;
    border-width: 10px;
    border-color: teal;
    background-color:maroon;
    filter: drop-shadow(20px 10px 4px #292929);
    font-size: 35px;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
    color:pink;
    transition:  background-color .1s, color .5s, filter .1s ease-in-out, margin-top .1s ease-in-out, margin-left .1s ease-in-out;
    transition-timing-function: ease-in-out;
    animation: morph 3s infinite;
}
#newButton:active{
    background-color:pink;
    color:maroon;
    filter:none;
    margin-top: 160px;
    margin-left: 10px;
}
@keyframes bgmorph {
    0% { background-color: green; }
    25% { background-color: rgb(0, 113, 128); }
    50% { background-color: rgb(85, 70, 153); }
    75% { background-color: rgb(255, 0, 212); }
    100% { background-color: green; }
  }

  @keyframes morph {
    0% { background-color: red; }
    10% { background-color: rgb(133, 255, 133); }
    20% { background-color: rgb(60, 82, 143); }
    30% { background-color: rgb(255, 185, 32); }
    40% { background-color: rgb(126, 51, 76); }
    50% { background-color: rgb(247, 20, 235); }
    60% { background-color: rgb(189, 241, 0); }
    70% { background-color: rgb(0, 217, 255); }
    80% { background-color: rgb(58, 7, 55); }
    90% { background-color: rgb(0, 0, 143); }
    100% { background-color: red; }
  }