


#warning{
    display: none;
}@media screen and (max-width: 500px){
    #warning{
        width: 100%;
        height: 100%;
        display: flex;
        position:absolute;
        background-color: wheat;
        font-family: 'Big Shoulders Display', cursive;
        font-size: 100px;
        z-index: 101;
        scroll-behavior:smooth;
    }
    html{
        overflow: hidden;
    }
}
@media screen and (max-height: 500px){
    #warning{
        width: 100%;
        height: 100%;
        display: flex;
        position:absolute;
        background-color: wheat;
        font-family: 'Big Shoulders Display', cursive;
        font-size: 100px;
        z-index: 101;
    }
    html{
        overflow: hidden;
    }
}
#backgroundImage{
    /* background-image: url(bg.gif); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: .5s all ease-in-out;
}
#codeInput{
    background-color:rgb(63, 0, 71);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    position: absolute;
    border-radius: 8px;
    left: 75vw;
    font-size: 16px;
    transition: .5s all ease-in-out;
}
#codeInput:hover{
    cursor: pointer;
    background-color:rgb(82, 0, 0);
}
#cursed{
    font-size: 50px;
    display: none;
    text-decoration: none;
    color: purple;
}


#drag{
    position: absolute;
    z-index: 100;
}
#dragCool{
    position: absolute;
    left: 35vw;
}
#dragDen{
    overflow: hidden;
    margin-top: 900px;
    margin-left: 300px;
    position: absolute;
    border: 20px solid;
    border-color: darkolivegreen;
    border-radius: 20px;
    display: flex;
}


h1{
    font-size:50px;
    font-family:'Big Shoulders Display', cursive;
    color:blanchedalmond;
    text-align: center;
}
#bottom{
    width: 100%;
    height: 100px;
    background-color:thistle;
    border-radius: 15px;
    transition: .5s all ease-in-out;
}
#bottom:hover{
    cursor: pointer;
    margin-top: 900px;
    height: 1000px;
}
#unicorn{
    transition: .5s all ease-in-out;
    
}
#unicorn:not(:hover){
    animation: blink 1.5s infinite;
}
#unicorn:hover{
    transform: scale(1.15);
    cursor:pointer;
}
@keyframes blink {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 40%;
    }
    100%{
        opacity: 100%;
    }
  }


#icon1{
    /* background-image: url(symbol.png); */
    display:flex;
    height: 100px;
    width: 100px;
    opacity: 0%;
    position: absolute;
    background-size: cover;
    transition: .5s all ease-in-out;
    overflow: hidden;
}
#bottom:hover > #icon1{
    opacity: 75%;
    /* left: 750px; */
    left:45vw;
    margin-top: 100px;
}
/* #icon1:hover{
    display: none;
} */
#icon2{
    /* background-image: url(symbol.png); */
    height: 100px;
    width: 100px;
    display:flex;
    opacity: 0%;
    position: absolute;
    background-size: cover;
    transition: .5s all ease-in-out;
    overflow: hidden;
}
/* #icon2:hover{
    display: none;
} */
#bottom:hover > #icon2{
    opacity: 75%;
    /* left: 950px; */
    left: 65vw;
    margin-top: 520px;
}
#icon3{
    /* background-image: url(symbol.png); */
    height: 100px;
    width: 100px;
    display:flex;
    opacity: 0%;
    position: absolute;
    background-size: cover;
    transition: .5s all ease-in-out;
    overflow: hidden;
}
/* #icon3:hover{
    display: none;
} */
#bottom:hover > #icon3{
    opacity: 75%;
    left: 25vw;
    margin-top: 520px;
}
#icon4{
    /* background-image: url(symbol.png); */
    height: 100px;
    width: 100px;
    display:flex;
    opacity: 0%;
    position: absolute;
    background-size: cover;
    transition: .5s all ease-in-out;
    overflow: hidden;
}
/* #icon4:hover{
    display: none;
} */
#bottom:hover > #icon4{
    opacity: 75%;
    left: 70vw;
    margin-top: 250px;
}
#icon5{
    /* background-image: url(symbol.png); */
    height: 100px;
    width: 100px;
    display:flex;
    opacity: 0%;
    position: absolute;
    background-size: cover;
    transition: .5s all ease-in-out;
    overflow: hidden;
}
/* #icon5:hover{
    display: none;
} */
#bottom:hover > #icon5{
    opacity: 75%;
    left: 20vw;
    margin-top: 250px;
}
#check{
    background-image: url(check.png);
    background-size: cover;
    position: absolute;
    opacity: 0%;
    height: 200px;
    width: 200px;
    transition: .5s all ease-in-out;
}
#bottom:hover > #check{
    opacity: 100%;
    left: 42vw;
    margin-top: 250px;
}

#textIntro{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin:auto;
}
#normal{
    margin: 30px;
    padding: 10px;
    align-items: stretch;
    line-height: 100px;
    display: flex;
    height:auto;
    width:auto;
    background-color: cornflowerblue;
    color:navy;
    border: 10px solid;
    border-color:mediumblue;
    border-radius: 20px;
}
.workInside{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: inline-block;
    margin:auto;
}
#work1{
    margin: 30px;
    padding: 10px;
    flex-direction: column;
    align-items: stretch;
    line-height: 50px;
    position:absolute;
    height:auto;
    width:auto;
    background-color: cornflowerblue;
    color:navy;
    border: 10px solid;
    border-color:mediumblue;
    border-radius: 20px;
}
#work2{
    margin: 30px;
    padding: 10px;
    flex-direction: column;
    align-items: stretch;
    line-height: 50px;
    position:absolute;
    height:auto;
    width:auto;
    background-color: cornflowerblue;
    color:navy;
    border: 10px solid;
    border-color:mediumblue;
    border-radius: 20px;
}
#work3{
    margin: 30px;
    padding: 10px;
    flex-direction: column;
    align-items: stretch;
    line-height: 50px;
    position:absolute;
    height:auto;
    width:auto;
    background-color: cornflowerblue;
    color:navy;
    border: 10px solid;
    border-color:mediumblue;
    border-radius: 20px;
}
#work4{
    margin: 30px;
    padding: 10px;
    flex-direction: column;
    align-items: stretch;
    line-height: 50px;
    position:absolute;
    height:auto;
    width:auto;
    background-color: cornflowerblue;
    color:navy;
    border: 10px solid;
    border-color:mediumblue;
    border-radius: 20px;
}
#work5{
    margin: 30px;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    line-height: 50px;
    position:absolute;
    height:auto;
    width:auto;
    background-color: cornflowerblue;
    color:navy;
    border: 10px solid;
    border-color:mediumblue;
    border-radius: 20px;
}
#alg{
    text-align: left;
    color:rebeccapurple;

}
#minion{
    z-index: 99;
    transition: .5s all ease-in-out;
}
#minion:hover{
    content: url("minedit.png");
}
.displayImage{
    border: 10px solid;
    border-color:black;
    margin-bottom: 20px;
}



/*FOR SECRET PAGE OOOOOH SPOOKY*/

#secretBackground{
    animation: haunting 5s infinite;
}
@keyframes haunting {
    0% {
      background-color:rgb(82, 0, 0);
    }
    50% {
      background-color:rgb(63, 0, 71);
    }
    100%{
        background-color:rgb(82, 0, 0);
    }
  }
  #secretWork{
    margin: 30px;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    line-height: 50px;
    position:absolute;
    height:auto;
    width:auto;
    background-color: rgb(85, 3, 3);
    color:white;
    border: 10px solid;
    border-color:black;
    border-radius: 20px;
}
.goBack{
    text-decoration: none;
    color:black;
    transition: .5s all ease-in-out;
}
.goBack:hover{
    color:blanchedalmond;
}